/backend/.idea/
/.idea
/node_modules/
/dist/
/build/
/backend/target/
/frontend/shop-front/node_modules/
/frontend/shop-front/dist/
/.vscode/
*.log
*.tmp
*.temp
/mysql_data/
*.iml
*.class
/temp_upgrade_b/

